#screen-sm-min,
#screen-md-min,
#screen-lg-min {
	display: none;
}
@media screen and (min-width: 768px) {
	#screen-sm-min {
		display: block;
	}
}

@media screen and (min-width: 980px) {
	#screen-md-min {
		display: block;
	}
}

@media screen and (min-width: 1200px) {
	#screen-lg-min {
		display: block;
	}
}